/*To keep everything in center*/
body{
	font-family:'Trebuchet MS';
}
.allincenter
{
	width: 50%; 
	margin: 0 auto;
}

.tile
{
	display: block;
	padding:3px;
	margin:5px;
	background-color: #AEB6BF;
	width:60%;
	border-radius:5px;
}

.header
{
	padding:20px;
	display:block;
	background-color: #581845;
	font: white;
	border-radius: 5px;
}

#C70039
#ADD8E6;